
<div class="flex justify-around "><!-- move div around the dom-->
    <a href="/plants/{{id}}" class="cardPlant flex flex-col border-black box-border w-fit h-fit mb-5"> <!-- card div-->
        <div><!-- div for image and label for the image-->
            <figure class="relative"> 
                <img class="plantimg" src="{{plant_img}}" width="500px" height="500px">
                <figcaption id="figPlant" class="absolute bg-green-800 left-0 bottom-0 pl-1 pr-1">{{title}} <br> {{user.username}}</figcaption>
            </figure>
        </div>
        <div class="flex flex-col content-center plantText">
            <div class="flex justify-between"><!-- Holds top comment, date, and likes-->
                <!-- Holds Top Comment label and date-->
                <div class="block h-fit w-fit">
                    <h3 class="text-md pl-1">Top Comment</h3>
                    <span class="text-xs pl-1 w-fit h-fit">{{format_date createdAt}}</span>
                </div>
                {{#each comments as |comment|}}
                <span class="flex text-mdpr-1"><i class="fa-regular fa-heart pt-1 pr-1"></i>{{comment.voteCount}}</span>

                <!--Likes Count -->
            </div>
            <div>
                <span class="block pl-1">{{comment.user.username}}: {{comment.comment_text}}</span><!--Top Comment -->
            </div>
                {{/each}}
        </div> 
    </a>
</div>