{{#with plant}}
<div class="flex" > <!-- div to move on the dom-->
    <div class="flex justify-between"> <!-- div holding the two page objects details and comments-->
        <div id="plantDetails" class="flex bg-black ml-6 pb-8"> <!-- details with image and plant details-->
            <figure class="pl-2 pt-2 pr-2">
                <img id="imgdetail"src="{{plant_img}}" height="500px" width="500px" alt="this is an image of the users plant">
            </figure>
            <div class="pl-2 pt-1">
                <span></span> <!--title -->
                {{#if upkeep}}
                <span class="detailHeader text-yellow-400">Upkeep <br></span>
                <span>{{upkeep}} <br></span> <!--upkeep -->
                {{/if}}
                {{#if toxicity}}
                <span class="text-yellow-400 detailHeader"> Toxicity <br></span>
                <span>{{toxicity}}<br></span> <!--toxicity -->
                {{/if}}
                {{#if water}}
                <span class="text-yellow-400 detailHeader">Water <br></span>
                <span>{{water}}<br></span> <!-- water    -->
                {{/if}}
                {{#if sun_amount}}
                <span class="text-yellow-400 detailHeader">Sun Amount<br></span>
                <span>{{sun_amount}}<br></span><!-- sun amount-->
                {{/if}}
                {{#if difficulty}}
                <span class="text-yellow-400 detailHeader">Difficulty</span>
                <span class="text-yellow-400 detailHeader">{{difficulty}}<br></span><!-- difficulty-->
                {{/if}}
            </div>
        </div>
        <div id="allComments" class="flex flex-col bg-black mr-6"> <!-- comment section-->
            <div class="flex ">
                <div class="block pr-1">
                    <span class="detailHeader text-yellow-400 pl-2 pt-1 justify-between ">OP: {{user.username}}<br></span> <!--op user -->
                    
                    <span class="pl-2 pt-1 ">{{problem}}<br></span> <!-- op post comment-->

                    <span class=" pl-2 text-xs ">{{format_date createdAt}}</span>
                </div>
            </div>
            
            <div class=" ">
                <div class="w-full">
                    {{#each comments as |comment|}}
                
              <div class="comment" id={{comment.id}}>
                        <span class="pl-2">{{comment.user.username}}: </span> <!-- user -->
                        <span>{{comment.comment_text}}</span> <!-- comment-->
                    <button id="vote" class=" fixed float-right pl-10 justify-right align-right" >{{#if like}}<i class="fa-regular fa-heart pt-1 pr-1"></i>{{else}}
                    <i class="fa-solid fa-heart"></i>{{/if}}
                    {{comment.votes.length}}</button>
               </div> 
                  <div class="pl-2 commentbar text-xs border-white">
                    <span>{{format_date comment.createdAt}}</span> <!-- date posted-->
                </div> 
                
                    {{/each}} 
                    </div>
                      <div> <!--comment div -->
                <form class="comment_form">
                    <input type="text" placeholder="Add Comment" id="comment-sub-text"> 
                     <button class="btn btn-primary " id="comment-submit">Post</button>
                </form>
            </div>
            </div>
          
            
        </div>
    </div>
</div>
{{/with}}
<script src="/js/vote-comment.js"></script>
<script src="/js/comment.js"></script>